.main-nav {

  @media (max-width: $mobile-max) {
    display: none;
  }

  ul {
    display: flex;
    gap: 10px;
    list-style: none;

    a {
      display: block;

      padding: 33px 25px;
      transition: background-color .5s ease;

      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      color: #fff;

      &:hover {
        background-color: $color-accent;
      }
    }
  }
}
