.main-nav {
  @media (min-width: $desktop) {
    display: block !important;
  }

  @media (max-width: $mobile-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 15px 0;
    width: 100%;
    background-color: $color-dark;
  }

  ul {
    display: flex;
    gap: 10px;
    list-style: none;

    a {
      display: block;

      padding: 33px 25px;
      transition: background-color .5s ease;

      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      color: #fff;

      &:hover {
        background-color: $color-accent;
      }

      @media (max-width: $mobile-max) {
        padding: 0;
      }
    }

    @media (max-width: $mobile-max) {
      flex-direction: column;
      align-items: center;
    }


  }
}

