.main-logo {
  display: inline-block;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}

.main-logo.main-logo__width-mobile {
  @media (max-width: $mobile-max) {
      font-size: 36px;
      line-height: 49px;
  }
}
