.order {
  padding: 130px 0;
  background-color: rgba($color-dark, .1);

  @media (max-width: $tablet-max) {
    padding: 120px 10px;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 10px;
  }
}

.order_inner {
  @include inner;
}

.order_title {
  margin-bottom: 40px;
  @include section-title;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;

  }

  @media (max-width: $mobile-max) {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 49px;
  }
}

.order_text {
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 25px;
  }
}
