.portfolio {
  padding: 130px 0;
  text-align: center;

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.portfolio_inner {
  @include inner;

  @media (max-width: $tablet-max) {
    padding: 0 10px;
  }
}

.portfolio_title {
  @include section-title;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-column;
  margin: 100px 0 120px;
  list-style: none;

  @media (max-width: $tablet-max) {
    justify-content: center;
    margin: 80px 0;
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
  }
}

.portfolio_item {
  position: relative;
  width: calc(25% - 60px / 4);

  @media (max-width: $tablet-max) {
    width: 364px;
  }

  @media (max-width: $mobile-max) {
    width: 100%;
  }
}

.portfolio_fig {

}

.portfolio-img {
  object-fit: cover;

  @media (max-width: $tablet-max) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-max) {
    margin: 0 auto;
  }
}

.img-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding: 15px;
  width: 100%;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
}

// portfolio.html:

.portfolio_list__margin-mod {
  margin-top: 40px;
}

.portfolio_filters-tags {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
  min-width: 954px;
  list-style: none;

  @media (max-width: $tablet-max) {
    gap: 30px;
    justify-content: start;
  }
}

.portfolio_tag-item {

}

.portfolio_tag-link {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  color: $color-dark;
  text-decoration: none;

}

.portfolio_tag-link.portfolio_tag-link-activ {
  color: $color-accent;
}

.portfolio_item__hidden ~ .portfolio_item  {
  @media (max-width: $mobile-max) {
    display: none;
  }
}
