.portfolio {
  padding: 130px 0;
  text-align: center;
}

.portfolio_inner {
  @include inner;
}

.portfolio_title {
  @include section-title;
}

.portfolio_list {
  display: flex;
  gap: $gap-column;
  margin: 100px 0 120px;
  list-style: none;

  li {
    width: calc(25% - 60px / 4);
  }
}

.portfolio_item {
  position: relative;
}

.portfolio-img {
  object-fit: cover;
}

.img-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 100%;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  background-color: rgba(0, 0, 0, .4);

}
