.review {
  display: flex;
  gap: 22px;

  @media (max-width: $tablet-max) {
    gap: 20px;
  }

}

.review_img {
  flex-shrink: 0;
  width: 304px;
  height: 304px;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: $tablet-max) {
    width: 236px;
    height: 236px;
  }
}

.review_user-desc {
  padding: 34px 0;

  @media (max-width: $tablet-max) {
    padding-top: 24px;
    padding-bottom: 0;
  }
}

.review_ava {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.review_user-name {
  font-size: 48px;
  line-height: 65px;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

.review_user-review {
  margin-top: 40px;
  font-size: 24px;
  line-height: 32.68px;

  @media (max-width: $tablet-max) {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
  }
}
