* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $color-dark;
  font-style: normal;
  font-weight: 400;
  padding-top: 87px;
}

img {
  display: block;
  max-width: 100%;
}
